ol {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7, 0fr);
    text-align: center;
    width: 250px;
    margin: 0;
}

li {
    margin: 5px;
    width: 25px;
}

.numeros {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.numeros:hover {
    background-color: rgb(208, 208, 208);
    transition-duration: .5s;
}

.diaAgendado {
    background-color: rgb(255, 118, 118);
}

@media screen and (max-width: 450px) {
    .calendario {
        min-width: 0;
    }
    .numeros {
        width: 35px;
        height: 35px;
    }
}