.primerDia {
    grid-column-start: 2;
}

.numeros {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.numeros:hover {
    background-color: rgb(208, 208, 208);
    transition-duration: .5s;
}

@media screen and (max-width: 450px) {
    .calendario {
        min-width: 0;
    }
    .numeros {
        width: 35px;
        height: 35px;
    }
}